{% extends 'base.html' %}
{% block content %}
    
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <br>

    <div class="container shadow p-3 mb-5 bg-body-tertiary rounded">
        <h3>ToDo Form</h3>
        <form action="/" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">To-Do Title</label>
                <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">To-Do Description</label>
                <input type="text" class="form-control" name="desc" id="desc">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <br>
    <br>

    <div class="container shadow p-3 mb-5 bg-body-tertiary rounded">
        <h3>ToDo List</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sr. No.</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>

                {% for todo in alltodo %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ todo.title }}</td>
                    <td>{{ todo.desc }}</td>
                    <td>{{ todo.date_created }}</td>
                    <td><a href="/delete/{{ todo.sno }}"><button type="button"
                                class="btn btn-outline-danger btn sm">Delete</button></a></td>
                    <td><a href="/update/{{ todo.sno }}"><button type="button"
                                class="btn btn-outline-secondary btn sm">Update</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

        {% endblock %}